.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-weight: 200;
    height: 300px;
    border: 2px dashed gray;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid rgb(51, 113, 228);
        color: #dadada !important;
    }

    .file-label {
        font-size: 1.2em;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

img {
    width: 250px
}
.media-body {
    width: 100px;
    height: 100px;
}
.img-wrap{
    position: relative;
    display: inline-block;
    border: 1px grey solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 100;
    background-color: lightskyblue;
    padding: 3px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 10px;
    border-radius: 50%;
}